/* MAIN CONTROL */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.page-container {
    width: 95%;
    height: 85%;
    padding: 5px;
    margin-left: 30px;
    margin-top: 30px;
    border: solid gray;
}

/* Style the header */
header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f1d1b5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.86);
}

.topnav a:hover {
    background-color: #ff8260;
    color: #f1d1b5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.86);
}

.topnav a.active {
    background-color: #4bc3b5;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.86);
}


/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    height: 500px;
    background-color: #f1f1f1;
    padding: 10px;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/* END MAIN CONTROL */

/* THEME COLORS */

.background-color {
    background-color: #222831;
}

.foreground-color {
    background-color: #900048;
}

.secondary-color {
    background-color: #ff8260;
}

.tertiary-color {
    background-color: #010402;
}

/* END THEME COLORS */

/* EFFECTS */

.large-text {
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.86);
}

.medium-text {
    font-size: 0.8em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.86);
}

.card {
    -webkit-box-shadow: 5px 5px 14px -1px black;
    box-shadow: 5px 5px 14px -1px black;
}

.folder {
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}