/* BOX SLIDER */

#container {
    overflow: hidden;
    width: 100%;    
}

.box {    
    margin-top: 10px;
    margin-left: 25px;
    width: 85%;    
    border: 2px solid black;    
    top: 40%;
} 
 

