/* BOX SLIDER */

#container {
    overflow: hidden;  
}

.box {
    position: absolute;
    width: 70%;
    height: 40%;    
    border: 2px solid black;
    left: 30%;
    top: 40%;
    margin-left: -25%;
}

#box1 {    
    left: -50%;
}

#box2 {    
}

#box3 {    
    left: 150%;
}

#box4 {
    left: 150%;
}

#box5 {
    left: 150%;
}
