.background-color {
    background-color: #fff;
    transition: all .3s linear 0s;
}

.foreground-color {
    background-color: steelblue;    
}

.secondary-color {
    background-color: bisque;
}

.tertiary-color {
    background-color: #010402;    
}

.white-text {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.86);
}

.border-gray {
    border: solid #696969;
    transition: all .3s linear 0s;
}

.border-white {
    border: solid #fff;
    transition: all .3s linear 0s;
}

.black-text { 
    color: black;
}

/* DARK MODE */

.background-color-dark {
    background-color: #696969;
    transition: all .3s linear 0s;
}

.foreground-color {
    background-color: steelblue;    
}

.secondary-color {
    background-color: bisque;
}

.tertiary-color {
    background-color: #010402;    
}



