body {
    font-family: Arial, Helvetica, sans-serif;
}

.mega-text-black {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 42px;     
}

.large-text-white {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.86);  
}

.large-text-black {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 36px;
}

.medium-text-white {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.86);
}

.medium-text-black {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
}

.small-text-white {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.86);
}

.small-text-black {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 18px;
}

p {
    color: black;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}

.roboto {
    font-family: 'Roboto Mono', monospace;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.card-lead {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.50), 2px 2px 2px rgba(99,99,99,0.45);
}

@media (max-width: 400px) {
    p {
        font-size: 0.8em;
    }
}
